langchain-community
langchain-core
langgraph
sqlalchemy
pyodbc
chromadb
streamlit
pandas
python-dotenv
configparser
fastapi
uvicorn
pydantic
langchain
ollama
langchain-ollama
langchain-google-genai
langchain-chroma
sentence-transformers
tabulate
langchain-experimental
nemoguardrails